/* Colors */
body {
 background-color: #242424;
}

.blurb,
.menu,
.corner_inner {
 background-color: #000000;
}

.blurb * {
 color: #ffffff;
}

.corner_outer {
 background-color: #242424;
}

.menu a {
 background-color: #2c2c39;
 border-color: #7474b1;
 color: #e6e6e6;
}

.menu a:hover {
 background-color: #373747;
 border-color: #a3a3e4;
 color: #ffffff;
}

.download_box {
 background-color: #440f0f;
 color: #f2f2f2;
}

.download_box .download_box_inner {
 background-color: #808080;
}

.download_box .download_box_inner * {
 color: #f2f2f2;
}

.main {
 background-color: #cccccc;
}

.main .features tr td {
 border-color: #808080;
}

.screenshot {
 background-color: #808080;
}

.about * {
 color:#808080;
}


/* Text and font */
body {
 font-family: Arial,Verdana,sans-serif;
 font-size: 90%;
}

h1,
h2,
h3 {
 font-size: 130%;
}

.menu a {
 text-decoration: none;
}

.download_box a {
 text-decoration: none;
}

.main h1 {
 font-style: italic;
}

a.readmore {
 font-size:60%;
 text-decoration:none;
 color: #808080;
}


/* Sizes and positioning */
body * {
 -moz-border-radius: 6pt;
 -webkit-border-radius: 6pt;
}

img {
 border: none;
}

p {
 margin-top: 0pt;
}

h1 {
 margin-top: 16pt;
 margin-bottom: 4pt;
}

h2,
h3 {
 margin:0pt;
}

.blurb {
 position: absolute;
 left: 0;
 top: 0;
 width: 120pt;
 padding-top: 10pt;
 padding-bottom: 80pt;
 text-align: center;
 font-size: 14pt;
}

.blurb img {
 padding-bottom: 20pt;
}

.corner_outer {
 position: absolute;
 z-index: 1;
 height: 40pt;
 left: 120pt;
 top: 54pt;
 width: 40pt;
}

.corner_inner {
 position: absolute;
 z-index: 1;
 height: 40pt;
 left: 100pt;
 top: 35pt;
 width: 40pt;
}

.menu {
 position: absolute;
 z-index: 2;
 left: 80pt;
 top: 0;
 right: 25pt;
 padding-top: 20pt;
 padding-bottom: 22pt;
 padding-left: 65pt;
 padding-right: 22pt;
}

.menu a {
 border-style: solid;
 border-width: 1pt;
 font-size: 10pt;
 padding-top: 3pt;
 padding-bottom: 3pt;
 padding-left: 6pt;
 padding-right: 6pt;

 margin-top: 0pt;
 margin-bottom: 0pt;
 margin-left: 3pt;
 margin-right: 3pt;
}

.download_box ,
.screenshot {
 position: absolute;
 z-index: 3;
 right: 0pt;
 margin-right: 50pt; /* Is there an IE-bug on calculating right-side offset, scrollbars, ... ? IE does this *differently* */
 width: 200pt;
 padding: 8pt;
}

.download_box h2,
.screenshot h2 {
 text-align: center;
 margin-top: 3pt;
 margin-bottom: 6pt;
}

.download_box {
 top: 20pt;
}

.download_items {
 padding-left: 10pt;
 padding-top: 5pt;
 padding-bottom: 10pt;
}

.download_items img {
 vertical-align: middle;
 padding-top: 8pt;
}

.screenshot {
 top: 220pt;
 height: expression('215pt'); /* only IE(7?) needs this one. Others are better off calculating height automatically */
}

.screenshot object {
 display: block; /* <-- important, probably also an ugly hack/trick */
 width: 200pt;
 height: 180pt;
}

.main {
 position: absolute;
 z-index: 2;
 top: 75pt;
 left: 145pt;
 right: 25pt;
 padding: 20pt;
}

.main_content {
 margin-right: 230pt;
}

.main .features {
 border-collapse: collapse;
}


.main .features tr td {
 border-width: 1px;
 padding: 5pt;
}

.main .features tr td.col_2 {
 border-left-style: solid;
}

.main .features tr.row_2 td {
 border-top-style: solid;
}

.about {
 bottom: -35pt;
 margin-bottom:15pt;
 width:100%;
 position: absolute;
 text-align: center;
}